body {
    font-family: Roboto, Tahoma, Verdana, sans-serif;
}

.header {
    background-color: #1f2937;
    display: flex;
    justify-content: space-around;;
    max-height: 100px;
    align-items: center;
    gap: 140px
}

.logo {
    font-size: 24px;
    color: #e5e7eb;
    margin-bottom: 20px;
}

.header-right {
    display: flex;
    justify-content: space-around;
    gap: 16px;
    margin-bottom: 20px;
}
.header-links {
    font-size: 18px;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}

a:hover {
    text-decoration: underline;
}

.frame1 {
    background-color: #1f2937;
    display: flex;
    justify-content: space-around;
    max-height: 700px;
    align-items: center;
    flex-wrap: wrap;
}

.frame1-content {
    display: flex;
    flex-direction: column;
}

.frame1-info1 {
    font-size: 48px;
    font-weight: bold;
    color: #f9faf8;
}

.frame1-info2 {
    color: #e5e7eb;
    font-size: 18px;
    max-width: 500px;
}

.frame1-button {
    background: #3882f6;
    color: white;
    padding: 2px;
    border-radius: 8px;
    width: 80px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

.frame1-image {
    width: 300px;
    height: 130px;
    border: 2px solid white;
    position: relative;
    background: gray;
    border-radius: 8px;
    margin-bottom: 20px;
}

.frame2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.frame2-info {
    display: flex;
    align-items: center;
    height: 100px;
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}

.frame2-links {
    display: flex;
    gap: 80px;
    justify-content: center;
    max-height: 1000px;
    flex-wrap: wrap;
    margin-bottom: 100px;
}

.frame2-content {
    display: table;
    width: 100px;
    height: 100px;
}

.frame2-image {
    min-width: 100px;
    min-height: 100px;
    border: 2px solid #3882f6;
    position: relative;
    background: gray;
    border-radius: 8px;
}

.text {
    display: table-caption;
    caption-side: bottom;
    text-align: center;
    font-size: 16px;
}

.frame3 {
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb;
    color: #1f2937;
    font-size: 24PX;
    align-items: center;
}
.frame3-info {
    display: flex;
    justify-content: center;
    text-align: justify;
    max-width: 600px;
    font-style: italic;
    margin-top: 30px;
}

.frame3-sign {
    width: 600px;
    text-align: right;
    margin-bottom: 30px;
    font-weight: bold;
}

.frame4 {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.frame4-content {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #3882f6;
    color: white;
    height: 100px;
    border-radius: 8px;
    gap: 100px;
    padding: 10px;
    border: #e5e7eb;
}

.frame4-content-text {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    padding: 30px;
}

.frame4-title {
    font-weight: bold;
}
.frame4-button {
    border: 1px solid white;
    color: white;
    padding: 3px;
    border-radius: 8px;
    width: 100px;
    text-align: center;
    margin-right: 30px;
}

.footer {
    display: flex;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1f2937;
    color: #e5e7eb;
    gap: 10px;
}

.footer-copyright,
.footer-text {
    font-size: 12px;;
}

